<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZgMk9nFpycWewgYaiEH22zdgKjroKKW8</string>
	<key>GCM_SENDER_ID</key>
	<string>1040619375181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heartlandPhotoApp</string>
	<key>PROJECT_ID</key>
	<string>heartland-restoration</string>
	<key>STORAGE_BUCKET</key>
	<string>heartland-restoration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040619375181:ios:593d305115b9259a3b2a04</string>
	<key>DATABASE_URL</key>
	<string>https://heartland-restoration-default-rtdb.firebaseio.com</string>
</dict>
</plist>